/*
 * @LastEditors: 七大大
 * @Date: 2020-08-18
 * @LastEditTime: 2020-08-19
 * @FilePath: \myTarod:\products\antd-demo-ts\src\assets\styles\normalize.less
 * @Description: 样式初始化
 */
@import './theme.less';

* {
  margin: 0;
  padding: 0;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 5px;
  border-left: 3px solid #141414;
  border-right: 3px solid #141414;
}

::-webkit-scrollbar-track {
  background-color: #141414;
  border-radius: 5px;
}